#root {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.tabs {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.outlined-table {
  border: 1px solid white;
  border-collapse: collapse;
}

.outlined-table th,
.outlined-table td {
  border: 1px solid white;
  padding: 5px;
}

.content {
  margin-top: 20px;
}
