#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#card-info {
  max-width: fit-content;
  min-height: min-content;
  background-color: grey;
  border: 1px solid black;
  
}

.large-header {

  color: black;
  font-size: 3rem;
  font-weight: 800;

}

.small-text {

  font-size: 1rem;
  font-weight: 400;

}

